td {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.grey {
  background-color: #C0C0C0;
}

.hit {
  background-color: #CC0000;
}

.loser {
  background-color: #606060;
}

.torpedos {
  font-size: 50px;
}

.hereTheyAre {
  background-color: #00B894;
}
